<div class="container">
    <table class="table table-bordered table-inverse">
      <tr>
        <th>Name</th>
        <th>Handle</th>
        <th>Date</th>
        <th class="text-right">Content</th>
      </tr>
      <tr *ngFor="let tweet of tweets">
        <td>
          {{tweet.name}}
        </td>
        <td>
          {{tweet.screenName}}
        </td>
        <td>
          {{tweet.date}}
        </td>
        <td class="text-right">
          {{tweet.content}}
        </td>
      </tr>
    </table>
  </div>